/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: #11101D;
  z-index: 99;
  transition: all 0.5s ease;
  /* overflow-y: scroll; */
}

.sidebar.open {
  width: 200px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 5px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 60px;
  width: calc(100% - 60px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open~.home-section {
  left: 200px;
  width: calc(100% - 200px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* #btn {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
} */

.nav-right_attr {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  height: 60px;
  margin: 0 14px;
}



.notificate {
  width: 9%;
  font-size: 2rem;
  text-align: right;
}

.notificate>a>i {
  line-height: 69px;
  color: #000000;
}

.avatarr {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.avatarr img {
  border-radius: 50%;
  height: 2em;
  object-fit: cover;
  width: 2em;
  cursor: pointer;
}

.dropdown-ofme {
  display: block;
  position: absolute;
  background-color: #11101d;
  top: 100%;
  right: 0%;
  border-radius: 8px;
  z-index: 1;
}

.quote {
  margin: -3px;
  width: 227px;
  height: 189px;
}
.quote:before {
  content: "";
  position: absolute;
  bottom: 185px;
  left: 200px;
  border-top: 10px solid #11101d;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  rotate: 180deg
}


.nav-dropdown {
  display: block;
}

.dropdown-i {
  display: flex;
  list-style: none;
  padding: 10px;
  color: white;
  font-size: 14px;
}

.dropdown-i .avatarr img{
  height:3em;
  width: 3em;
}

#d-name{
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  padding: 0 10px;

}

#role{
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 12px;
  color:gray
}

.show{
  display: none;
}

.content {
  background-color: #f8f8f8;
  border-radius: 5px;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.add-post{
  padding: 4px;
  cursor: pointer;
}

.fa-thumbs-up,
.fa-exclamation,
.fa-hourglass-start,
.delete,
.edit {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 4px;
}

.delete:hover {
  background-color: #b2adde;
}

.edit:hover {
  background-color: chocolate;
}

.footer {
  height: 100px;
  background-color: #11101d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}



.force-overflow {
  min-height: 250px;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #11101D;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: #000000;
}


@media (max-width: 420px) {

  .visiblle,
  .hide,
  .delete,
  .edit {
    padding: 5px;
    margin-bottom: 4px;
  }
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }

}